{% extends "layout.html" %}

{% block title %}
<a href="/curriculum">Learning</a>
{% if student and student.id != current_user.id %}
    <a href="/people/{{student.id}}">{{ student.first_name }}</a>
{% endif %}
{% endblock %}

{% block body %}

{% if current_user.is_teacher %}
    {% for error in errors or [] %}
        <div class='notification is-important'>{{error}}</div>
    {% endfor %}
    {% for warning in warnings or [] %}
        <div class='notification is-warning'>{{warning}}</div>
    {% endfor %}
{% endif %}

<div class="tab-selectors">
{% for block_name, block in merged_periods.items() %}
    <a>
        {{ block_name }}
    </a>
{% endfor %}
</div>

<div class="tab-blocks mar4">
    {% for block_name, period in merged_periods.items() %}
    <div class="{{'tab-initial' if block_name==initial_block else ''}} rows4">
        {% for block in period %}
        <div class="columns">
            {% for topic in block %}
            <div>
                
                {% if topic.get('description') %}
                <details>
                {% endif %}
                {% if topic.get('name') %}
                    <summary><h2>{{topic.name}}</h2></summary>
                {% endif %}
                {% if topic.get('description') %}
                    <div>
                        {{(topic.get('description') or '')|markdown|safe}}
                        {% if topic.get('goals') %}
                        <p>Learning goals:</p>
                        {% endif %}
                        <ul>
                            {% for goal_title in topic.get('goals').values() %}
                                <li>{{goal_title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </details>
                {% endif %}

                {% for lesson in topic.nodes %}
                    {% for depend_id in lesson['depend'] %}
                        <a class="chained lesson-dep" href="/curriculum/{{nodes_by_id[depend_id].id}}{{(student and student.url_query) or ''}}">
                            {{modules_by_id[nodes_by_id[depend_id].module_id].short or modules_by_id[nodes_by_id[depend_id].module_id].name}} ➤ {{nodes_by_id[depend_id].name}}
                        </a>
                    {% endfor %}
                    {% if lesson.coding_session %}
                        <div class="chained lesson-dep">
                            Coding session
                        </div>
                    {% endif %}
                    <a class="chained lesson {{lesson['status']}}" href="/curriculum/{{lesson.id}}{{(student and student.url_query) or ''}}">
                        <h4>
                            {% if lesson['ects'] %}
                                <div class="tag is-important">{{lesson['ects']}} ects</div>
                            {% endif %}
                            {% if lesson['days']!=1 %}
                                <div class="tag is-info">{{lesson['days']}} days</div>
                            {% endif %}
                            {% if lesson['pair'] %}
                                <div class="tag is-ok">pair</div>
                            {% endif %}
                            {% if lesson['wip'] %}
                                <span class="tag is-important">NOT READY</span>
                            {% elif current_user.is_teacher %}
                                {% if lesson['errors'] %}
                                    <span class="tag is-important">ERROR</span>
                                {% elif lesson['warnings'] %}
                                    <span class="tag is-warning">WARNING</span>
                                {% endif %}
                            {% endif %}
                            {{lesson['name']}}
                        </h4>
                        {{lesson['description']}}
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if stats %}
    <p style="margin-top: 3em; color: #bbb; text-align: center;">
        {% for year, info in stats.items() %}
            Year {{year}} has {{info['*'].count}} nodes, spanning {{info['*'].avg_days}} nominal days.
        {% endfor %}
    </p>
{% endif %}

{% endblock %}
