{% extends "layout.html" %}

{% block title %}
Classroom dashboard
{% endblock %}

{% block bare_body %}

<style>
    #octant_stats {
        display: flex;
        justify-content: space-between;
    }
    #octant_stats > * {
        text-align: center;
    }
    #octant_stats .stat {
        font-size: 300%;
    }

</style>

<div style="display: flex; flex-direction: column; padding: 20px;">
    <script src="/static/tv.js"></script>

    <h1>Octantly statistics</h1>
    <div id="octant_stats">
        {% include 'octant-stats.html' %}
    </div>

    {% if device == "iglo" %}
    <h1>Study Association Tuks</h1>
    <iframe id="tuks-iframe" frameborder="0" style="border-width: 0; height: 320px; overflow: hidden; border: none;" scrolling="no" src="https://tuks.dev/iglo" allowtransparency="true"></iframe>
    <script>
        setInterval(function() {
            let iframeE = document.getElementById('tuks-iframe');
            iframeE.src = iframeE.src;
        }, 2*60*1000);
    </script>
    {% endif %}

</div>


{% endblock %}